body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 900px;
    font-family: "trebuchet ms", arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

#container{
    border:solid 1px;
    border-color: #c6c6c6;
}

header{
    background-image: url("img/bg_head_top.jpg");
    height: 80px;
    width: auto;
}

#logo{
    background-image: url(img/bg_head_top_logo.jpg);   
}

h1{
    font-family:"trebuchet ms", arial, sans-serif;
    color: #959292;
    float: right;
    padding-right: 22.3em;
    padding-top: 0.5em;
    padding-left: 3em;
    font-size: 22px;
    background-image: url(img/bg_head_top_logo.jpg);
    background-position: left;
    background-repeat: no-repeat;
}

#imagenVerde{
    width:900px; 
    height:54px; 
    background-image: url(img/bg_head_middle.jpg);
    margin-left:-1px; 
}

#menu-horizontal{
    float:left; 
    width:900px; 
    background-image: url(img/bg_head_bottom_nav.jpg);
    margin-left:-1px; 
}

#menu-horizontal ul{
    list-style-type: none; 
    padding: 0 ;
    margin: 0;
}

#menu-horizontal ul li{
    float:left;
    width: 200px;
    height: 35px;
    line-height: 34px;
    text-align: center;
    border-right:solid 1px;
    border-color: #c6c6c6;
}

#menu-horizontal ul li a{
    font-family:"trebuchet ms", arial, sans-serif;
    font-size: 15px;
    color: #5d5d5d;
    text-decoration:none;
    font-weight: bold;
    width: 100%;
    display:block;
}

#menu-horizontal ul li a:hover{
    background: #c6c0c0;
}

#menu-horizontal ul li ul {
    border: none;
}
#menu-horizontal ul li li {
    display:block;
    width:10.5em; 
    height:auto; 
    line-height:1.5em;
    margin-left:-1px; 
    padding:4px 16px 4px 16px; 
    border-left:solid 1px; 
    border-bottom: solid 1px; 
    border-color: #c6c6c6;
    background-image: none;
    background-color: #ededed;
    position: relative;
    display: none;
}

#menu-horizontal ul li li:hover{
    background: #c6c0c0;
}

#home{
    margin: 0 auto;
    padding: 0;
    background-image:url(img/bg_bullet_arrow.gif);
    background-repeat: no-repeat;
    background-position: left;
    float: left;
    width: 100%;
    height:30px;
    padding-bottom: 1em;
    font-family:"trebuchet ms", arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#home p a{
    text-decoration:none; 
    list-style-type: none;
    color: #359ecb;
}
#menu-vertical ul{
    list-style-type: none; 
    margin: 0;
    padding: 0;
    height: 285px;;
    width:200px;
    display:inline-block;
    background-color: #edeaea;
    padding-bottom: 11em; 
    float: left;
}

#menu-vertical ul li{
    width: 200px;
    height: 35px;
    margin: 0 auto;
    text-align: left;
}

#menu-vertical ul li a{
    font-family:"trebuchet ms", arial, sans-serif;
    font-size: 16px;
    color: #359ecb;
    text-decoration:none;
    font-weight: bold;
    width: 100%;
    display:block;
    height: 100%;
    padding-left:1em;
}

#menu-vertical ul li:hover{
    background: #c6c0c0;
}


#menu-vertical ul li a:hover{
    color: #fff;
}

#contenido{
    width:640px;
    display:inline-block;
    margin: 0 auto;
    padding-right: 3em;
}

h3{
    padding-left: 1em;
    border-bottom-color:#e5e1e1;
    border-bottom-style: solid;
    border-bottom-width: 0.35em;
}

h4{
    padding-left: 1em;
    color:#359ecb;
    font-size: 18px;
}

p{
    padding-left: 1em;
}

#menu-interno ul{
    list-style-type: none; 
    float: left; 
    list-style-image:url(img/bg_bullet_full_1.gif);
    margin: 29px;
    padding: 0;
    
}

#menu-interno ul li{
    width: 200px;
    height: 20px;
    margin: 0 auto;
    text-align: left;
}

#menu-interno ul li a{
    font-family:"trebuchet ms", arial, sans-serif;
    font-size: 16px;
    color: #359ecb;
    text-decoration:none;
    font-weight: bold;
}

footer{
    background-image: url("img/bg_foot.jpg");
    text-align: center;
    width: 900px;
}
