h1{
    color:#797979;
}
.logo{
    padding-top: 5px;
}
.menu li a:hover{
    background: #aaa;
}
.cabecera{
    background-color: #e3e3e3;
}
.verde{
    background-image:  url(img/bg_head_middle.jpg);
}
.menu{
    background-color: #e3e3e3;
    color:#fff;
}
.menu ul li{
    border-right: 1px solid #7C7C7C;
}