h1{
    color:#797979;
}
.logo{
    padding-top: 5px;
}
.menu li:hover{
    background: #c6c0c0;
}
.cabecera{
    background-image: url(img/bg_head_top.jpg);
}
.verde{
    background-image: url(img/bg_head_middle.jpg);
}