h1{
    color:#797979;
}

.menu li a:hover{
    background: #aaa;
}

header{
    background: #e3e3e3;
}
.clean{
    background-color: #fff;
}
.home{
    color:#359ecb;;
    list-style-type: square;
}
.verde{
    background-image:  url(img/bg_head_middle.jpg);
}

.menu{
    background-color: #e3e3e3;
    
}
.menu ul li a{
    color: #5d5d5d;
    font-weight: bold;
    width: 100%;
}

.menu ul li{
    border-right: 1px solid #7C7C7C;
}

.submenu{
    background-color: #e3e3e3;
    color:#fff;
}

submenu li a {
    border-right: none;
    width: 100%;
    text-align: center;
}



.home{
    list-style-type: square;
}

.menu_horizontal{
    background-color: #ededed;
}

h3{
    margin-top: 0;
    border-bottom-color: #d0d0d0;
    border-bottom-style: solid;
    color: #6a6a6a;
    border-bottom-width: thick;
}

h4{
    color:#359ecb;
    font-size: 18px;
    margin-bottom: 9px;
}

#menu-interno ul li{
    list-style-type: square;
}

#menu-interno ul li a{
    font-family:"trebuchet ms", arial, sans-serif;
    font-size: 16px;
    color: #359ecb;
    text-decoration:none;
}

.menu_lateral{
    height: 693px;
}

.bordes{
    border-left-color: #e3e3e3;
    border-left-style:ridge;
    border-right-color: #e3e3e3;
    border-right-style: ridge;
}
.borde_izq{
    border-left-color: #e3e3e3;
    border-left-style: ridge;
}
.borde_der{
    border-right-color: #e3e3e3;
    border-right-style: ridge;
}
.borde_inferior{
    border-bottom-color:#e3e3e3;
    border-bottom-style: ridge;
}